body{
    background-color: #BCCEF8;
}

#movie-title{
    font-size: x-large;
    width: 400px;
}

#movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 32px;
}

#actors {
    margin: 24px 16px 0 0;
}

.movie-div :hover{
    transform: scale(1.1);
}

.eachActor{
    width: 150px;
    margin: 50px;
}

.someImages{
    border-radius: 50%;
}

.overview{
    width: 800px;
}