body{
    background-color: #BCCEF8;
}

#movie-title{
    font-size: x-large;
    width: 400px;
}

#movie-backdrop {
    width: 100%;
    height: 25%;
}

.actorsPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 100px;
    grid-auto-rows: 200px;
    width: 900px;
    margin-bottom: 60px;
    justify-content: center;
    margin-left: 150px;
}

.container {
    padding-top: 32px;
}

#actors {
    margin: 24px 16px 0 0;
}

.movie-div :hover{
    transform: scale(1.1);
}

.eachActor{
    width: 150px;
}

.someImages{
    border-radius: 50%;
    cursor:pointer;
}

.eachSimilarMovie{
    border-radius: 20%;
    cursor:pointer;
}

.eachSimMovie{
    width: 200px;
    height: 100px;
}

.overview{
    width: 800px;
}

.actorPageBiography{
    width: 700px;
}
.trailerVideo iframe{
    width:30rem;
    height: 20rem;
}

.actorRelatedMovies{
    width: 600px;
}

.actorRelatedMovies:hover{
    cursor: pointer;
}

#knownFor{
 width: 800px;   
}

.actorProfilePic{
    border-end-start-radius: 80px 80px;
}

.productionImgAnmi{
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}

.productionImgAnmi:hover{
    transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    box-shadow: 0 0 50px rgb(16, 24, 68);
    transition-delay: 0.2s;
    background-color: #BCCEF8;
    cursor: pointer;
}

.genre{
    display: block;
    text-align: center;
    margin: 2px;
}